<div class="home-wrapper d-flex align-items-center">
  <div class="container">
    <div class="row p-3">
      <div class="col-md-10">
        <input class="form-control search_input mr-sm-2" type="search" placeholder="Search" [(ngModel)]="userName" (keyup.enter)="booksSearch()">
      </div>
      <div class="col-md-2">
        <button (click)="addNewBook()" class="btn float-right add_book_btn">Add Book</button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Book</th>
          <th scope="col">Author</th>
          <th scope="col">Pablisher</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of arrayBook" (click)="navigateToBookItem(book.bookId)">
          <td scope="col">{{ book.name }}</td>
          <td scope="col">{{ book.author.nameAuthor }}</td>
          <td scope="col">{{ book.author.publisher }}</td>
          <td scope="col">{{ book.category.firstCategoryType}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>