@using BookStore.DAL.Enums
<html>
<head>
</head>
<body>
    <div>
        <div class="row align-items-center bg-info marginLeftNull">
            <h2>Add Book</h2>
        </div>
    </div>
    <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
        <div class="col-md-2 Padding10px">
            <input placeholder="Book name" name="Name" class="form-control" />
        </div>
        <div class="col-md-2 Padding10px">
            <input placeholder="Avtor" name="Avtor" class="form-control" />
        </div>
        <div class="col-md-2 Padding10px">
            <input placeholder="Publisher" name="Publisher" class="form-control" />
        </div>
        <div class="col-md-2 Padding10px">
            @Html.DropDownList("Genre1", Html.GetEnumSelectList(typeof(CategoryType)), htmlAttributes: new { @class = "btn btn-light  dropdown-toggle" })
        </div>
        <div class="col-md-2 Padding10px">
            @Html.DropDownList("Genre2", Html.GetEnumSelectList(typeof(CategoryType)), htmlAttributes: new { @class = "btn btn-light  dropdown-toggle" })
        </div>
        <div class="col-md-2">
            <input name="Path" type="file" class="form-control" />
        </div>
        <div class="Padding10px">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </form>
    <form asp-action="Index" asp-controller="Home" method="post">
        <div class="bookPaddingLeft">
            <input type="submit" value="Back" class="btn btn-secondary" />
        </div>
    </form>
    @if (TempData["createBook"] != null)
    {
        <div class="bookPaddingLeftRed">
            @TempData["createBook"]
        </div>
    }
</body>
</html>
