.Padding10px{
    padding : 10px;
}

.bookPaddingLeft{
    padding-left : 10px;
}

.bookPaddingLeftRed{
    padding-left : 10px;
    color : red;
}

.marginLeftNull{
    margin-left : 0px;
}

.registrationTextBoxStyle {
    padding-top: 10px;
    padding-left: 10px;
}

.registrationbuttonSave {
    padding-top: 30px;
    padding-left: 20px;
}

.registrationbuttonBack {
    padding-top: 30px;
}