<div class="container-chat-btn">
    <div (click)="openNotificationBar()" class="btn-container">
        <span><i class="far fa-bell"></i></span>
    </div>
    <div  (click)="navigationToChat()" class="btn-container">
        <span><i class="far fa-comments"></i></span>
    </div>  
    <div class="btn-container">
        <span><i class="far fa-user"></i></span>
    </div>
</div>
<div  [style.visibility]="notificationVisibility" class="notification-container">
    <div *ngFor="let notification of notifications.notifications" class="notification" (click)="changeNotificationStatus(notification)"> 
        <div class="notification-image">
        </div>       
        <div class="notification-header">
            {{notification.title}}
        </div>
        <div class="notification-message">
            {{notification.message}}
        </div>
    </div>
</div>>