<div>
<input class="form-control mr-sm-2" #myInput type="search" ngModel="userName" (search)="test(myInput.value)">
</div>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Book</th>
        <th scope="col">Author</th>
        <th scope="col">Pablisher</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of arrayBook">
              <td scope="col">{{ book.name }}</td>
              <td scope="col">{{ book.author.nameAuthor }}</td>
              <td scope="col">{{ book.author.publisher }}</td>
              <td scope="col">{{ book.category.firstCategoryType}}</td>
        </tr>
    </tbody>
  </table>