<div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
  </div>
<button (click)="test()">Click me!</button>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Book</th>
        <th scope="col">Author</th>
        <th scope="col">Pablisher</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of arrayBook">
              <td scope="col">{{ book.name }}</td>
              <td scope="col">{{ book.author.nameAuthor }}</td>
              <td scope="col">{{ book.author.publisher }}</td>
              <td scope="col">{{ book.category.firstCategoryType}}</td>
        </tr>
    </tbody>
  </table>